.status {
    &-bars {
        padding: 1.6rem 2.1rem 2rem 3.5rem;
        @include flexAlignCenter(space-between);
    }
    
    &__time {
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 1.6rem;
    }
}