@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"),
    url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf),
    url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf);
}

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf),
    url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf),
    url(../../asset/fonts/nunito/Nunito-Bold.ttf),
    url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf),
    url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf),
    url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf),
    url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf),
    url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf),
    url(../../asset/fonts/nunito/Nunito-Italic.ttf),
    url(../../asset/fonts/nunito/Nunito-Light.ttf),
    url(../../asset/fonts/nunito/Nunito-LightItalic.ttf),
    url(../../asset/fonts/nunito/Nunito-Regular.ttf),
    url(../../asset/fonts/nunito/Nunito-SemiBold.ttf),
    url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf);
}
