.launch {
    background:  url("../asset/images/shape/oval-home.svg") 50% 45% no-repeat, $semantic-color-grey-3 ;
    padding: 7.3em 0; 
    position: relative;
    height: 100%;
    color: $semantic-color-white-1;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        position: absolute;
        left: 53%;
        top: 45%;
        letter-spacing: 2px;
        transform: translate(-53%, -45%); 
        font-size: 7.47448rem;
    }
}