.onboarding3 {
  min-height: inherit;
  @include flexAlignCenter(flex-end);
  flex-direction: column;
  background: url(../asset/images/order-your-clothes.png) center 18.4rem no-repeat;
  &__content {
    padding-bottom: 16.3rem;
  }
  //remainder title
  // &__title {
  // }

  &__description {
    color: $semantic-color-black-3;
  }
}


