.onboarding1 {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  background-image: url(../asset/images/special-offers.png);
  background-repeat: no-repeat;
  background-position: {
    x: center;
    y: 17.9rem;
  }
  &__content {
    flex: 1;
    &__title {
      line-height: 2.6rem;
    }

    &__description {
      line-height: 1.9rem;
      width: 29.5rem;
      text-align: center;
      color: $semantic-color-black-3;
    }
  }
}
