//---------------------------------//
//--------Colors--default---------//
//---------------------------------//
$primary-color-main: #fd3e75;
$primary-color-light: #fe6e98;
$primary-color-lighter: #fe9fba;
$primary-color-lightest: #fecedc;

$secondary-color-main: #272727;
$secondary-color-light: #5d5d5d;
$secondary-color-lighter: #939393;
$secondary-color-lightest: #c9c9c9;

$semantic-color-white-1: #fefefe;
$semantic-color-grey-1: #d8d8d8;
$semantic-color-grey-2: #e2e2e2;
$semantic-color-grey-3: #ececec;
$semantic-color-black-1: #000000;
$semantic-color-black-2: #404040;
$semantic-color-black-3: #808080;
$semantic-color-black-4: #1d1d1d;
$semantic-color-green-1: #0dbb66;
$semantic-color-green-2: #3fbb82;
$semantic-color-yellow-1: #d8b23d;
$semantic-color-red-1: #de4343;
$semantic-color-purple-1: #501eb9;

//---------------------------------//
//--------Font--Setup--------------//
//---------------------------------//
$font-default: "SFPro", sans-serif;
$font-custom: "Nunito", sans-serif;
$font-size: 1.6em;

//---------------------------------//
//--------Grid-Setup--------------//
//---------------------------------//

$grid-width: 37.5em;
// $grid-horizon-gutter:
