@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"), url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf); }

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf), url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf), url(../../asset/fonts/nunito/Nunito-Bold.ttf), url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Italic.ttf), url(../../asset/fonts/nunito/Nunito-Light.ttf), url(../../asset/fonts/nunito/Nunito-LightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Regular.ttf), url(../../asset/fonts/nunito/Nunito-SemiBold.ttf), url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "SFPro", sans-serif; }

body {
  box-sizing: border-box;
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

a,
li {
  text-decoration: none;
  list-style-type: none; }

.mobile {
  max-width: 37.5rem;
  height: 100%;
  min-height: 81.2rem;
  width: 100%;
  border: 1px solid black; }

.text__header-4 {
  font-size: 1.7rem;
  color: #1d1d1d; }

.text__header-3 {
  font-size: 2.2rem;
  color: #1d1d1d; }

.text__header-2 {
  font-size: 2.4rem;
  color: #1d1d1d; }

.text__span-14 {
  font-size: 1.4rem;
  font-weight: bold; }

.text__span-16 {
  font-size: 1.6rem;
  font-weight: bold; }

.text__span-20 {
  font-size: 2rem;
  font-weight: 500; }

.text__body-16 {
  font-size: 1.6em; }

<<<<<<< HEAD
.text__body-15 {
  font-size: 1.5rem; }
=======
.text__body-14 {
  font-size: 1.4rem; }
>>>>>>> 8fc618b5c8ec3884c54cc743d63af3aad25a35d3

.u-m-b-1 {
  margin-bottom: 0.8rem; }

.u-m-b-2 {
  margin-bottom: 1.6rem; }

.u-m-b-3 {
  margin-bottom: 2.4rem; }

.u-m-b-4 {
  margin-bottom: 3.2rem; }

.u-m-b-5 {
  margin-bottom: 4rem; }

.u-m-t-4 {
  margin-top: 3.2rem; }

.u-p-b-1 {
  padding-bottom: 0.8rem; }

.u-p-b-6 {
  padding-bottom: 4.8rem; }

.u-p-r-1 {
  padding-right: 0.8rem; }

.u-p-r-4 {
  padding-right: 3.2rem; }

.u-p-t-2 {
  padding-top: 1.6rem; }

.u-p-6 {
  padding: 4.8rem; }

.u-p-4 {
  padding: 3.4rem; }

<<<<<<< HEAD
.u-p-x-3 {
  padding: 0 2.4rem; }

=======
>>>>>>> 8fc618b5c8ec3884c54cc743d63af3aad25a35d3
.u-p-x-4 {
  padding: 0 3.2rem; }

.u-p-x-7 {
  padding: 0 5.6rem; }

.u-p-y-9 {
  padding: 7.2rem 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.launch {
  background: url("../asset/images/shape/oval-home.svg") 50% 45% no-repeat, #ececec;
  padding: 7.3em 0;
  position: relative;
  height: 100%;
  color: #fefefe; }
  .launch__image {
    height: 100%;
    object-fit: cover; }
  .launch__title {
    position: absolute;
    left: 53%;
    top: 45%;
    letter-spacing: 2px;
    transform: translate(-53%, -45%);
    font-size: 7.47448rem; }

.onboarding1 {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../asset/images/special-offers.png) center 17.9rem no-repeat; }
  .onboarding1__content {
    padding-bottom: 16.3rem; }
  .onboarding1__description {
    color: #808080; }

.onboarding2 {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../asset/images/smart-search.png) center 18.4rem no-repeat, url(../asset/images/shape/focus-square.svg) center 18.4rem no-repeat; }
  .onboarding2__content {
    padding-bottom: 16.3rem; }
  .onboarding2__description {
    color: #808080; }

.onboarding3 {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../asset/images/order-your-clothes.png) center 18.4rem no-repeat; }
  .onboarding3__content {
    padding-bottom: 16.3rem; }
  .onboarding3__description {
    color: #808080; }

.login {
  padding: 7rem 3.2rem; }
  .login__header span {
    display: block; }
  .login__extra {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.terms__content {
  position: relative;
  font-family: "Nunito", sans-serif; }

.terms__content::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
  width: 100%;
  height: 100%; }

.terms__link {
  color: #007AFF; }

.indicator-bottom {
  color: #808080;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.indicator-get-started {
  color: #808080;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.indicator__control {
  flex-basis: 1;
  text-align: center; }

.indicator__item {
  border-radius: 2px;
  display: inline-block;
  width: 1.1rem;
  height: 0.4rem;
  margin: 0 0.5rem;
  background-color: #fe9fba; }
  .indicator__item--active {
    width: 2.2rem;
    background-color: #fd3e75; }

.indicator__button {
  cursor: pointer; }
  .indicator__button--active {
    color: #fd3e75; }

.segment__group {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.segment__item {
  flex: 1;
  text-align: center;
  display: inline-block;
  position: relative; }
  .segment__item:first-child {
    margin-right: 2.8rem; }

.segment__link {
  display: block;
  color: #808080; }
  .segment__link-active {
    color: #1d1d1d; }
    .segment__link-active::after {
      content: "";
      position: absolute;
      bottom: -6px;
      width: 100%;
      display: block;
      border-bottom: 3px solid #fd3e75;
      border-radius: 3px 3px 0 0; }

.form {
  border-radius: 1.6rem;
  box-shadow: 0rem 1.4rem 4.3rem rgba(0, 0, 0, 0.08); }
  .form__group {
    padding: 1.6rem 2.4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .form__group:not(:last-child) {
      border-bottom: 1px solid #ececec; }
  .form__input label {
    color: #c9c9c9;
    text-transform: capitalize; }
  .form__input input {
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    padding-top: 0.8rem;
    font-size: 1.7rem;
    max-width: 200px;
    border: none;
    outline: none; }
  .form__extra-check {
    margin-left: 5px; }
  .form__extra-link {
    margin-left: 5px;
    color: #c9c9c9; }

.btn {
  outline: none;
  border: none;
  display: block;
  cursor: pointer; }
  .btn-submit {
    font-size: 1.8rem;
    padding: 1.6rem;
    border-radius: 2.65rem;
    color: #fefefe;
    font-weight: lighter;
    background-color: #fd3e75; }
  .btn-big {
    width: 100%; }

.status-bars {
  padding: 1.6rem 2.1rem 2rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.status__time {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.6rem; }

.navigation-bar {
  min-width: inherit;
  padding: 0 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"), url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf); }

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf), url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf), url(../../asset/fonts/nunito/Nunito-Bold.ttf), url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Italic.ttf), url(../../asset/fonts/nunito/Nunito-Light.ttf), url(../../asset/fonts/nunito/Nunito-LightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Regular.ttf), url(../../asset/fonts/nunito/Nunito-SemiBold.ttf), url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf); }
