*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "SFPro", sans-serif; }

body {
  box-sizing: border-box;
  display: flex;
  border: 1px solid red;
  min-height: 100vh;
  justify-content: center;
  align-items: center; }

.mobile {
  max-width: 37.5rem;
  height: 100%;
  min-height: 81.2rem;
  width: 100%;
  border: 1px solid black; }

@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"), url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf); }

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf), url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf), url(../../asset/fonts/nunito/Nunito-Bold.ttf), url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Italic.ttf), url(../../asset/fonts/nunito/Nunito-Light.ttf), url(../../asset/fonts/nunito/Nunito-LightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Regular.ttf), url(../../asset/fonts/nunito/Nunito-SemiBold.ttf), url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf); }

.launch {
  background: url("../asset/images/shape/oval-home.svg") 50% 45% no-repeat, #ECECEC;
  padding: 7.3em 0;
  position: relative;
  height: 100%;
  color: #fefefe; }
  .launch__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .launch__title {
    position: absolute;
    left: 53%;
    top: 45%;
    letter-spacing: 2px;
    transform: translate(-53%, -45%);
    font-size: 7.47448rem; }

.onboarding1 {
  height: 100%;
  background-image: url(../asset/images/special-offers.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 17.9rem; }
  .onboarding1__container {
    display: flex;
    flex-direction: column;
    padding-top: 50.2rem;
    align-items: center; }
    .onboarding1__container__title {
      font-size: 2.2rem;
      line-height: 2.6rem;
      margin-bottom: 0.8rem; }
    .onboarding1__container__description {
      font-size: 1.6rem;
      line-height: 1.9rem;
      width: 29.5rem;
      text-align: center;
      color: #808080; }
  .onboarding1__indicator {
    padding-top: 16.3rem;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.3px;
    color: #808080;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .onboarding1__indicator__control--active {
      color: #fd3e75; }
    .onboarding1__indicator__button {
      height: 0.4rem;
      width: 6.4rem;
      display: flex;
      justify-content: space-between; }
      .onboarding1__indicator__button__item {
        border-radius: 2px;
        width: 1.1rem;
        height: 0.4rem;
        background-color: #fe9fba; }
        .onboarding1__indicator__button__item__long {
          width: 2.2rem;
          background-color: #fd3e75; }

@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"), url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf); }

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf), url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf), url(../../asset/fonts/nunito/Nunito-Bold.ttf), url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Italic.ttf), url(../../asset/fonts/nunito/Nunito-Light.ttf), url(../../asset/fonts/nunito/Nunito-LightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Regular.ttf), url(../../asset/fonts/nunito/Nunito-SemiBold.ttf), url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf); }
