*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "SFPro", sans-serif; }

body {
  box-sizing: border-box;
  display: flex;
  border: 1px solid red;
  min-height: 100vh;
  justify-content: center;
  align-items: center; }

.mobile {
  max-width: 37.5rem;
  height: 100%;
  min-height: 81.2rem;
  width: 100vw; }

@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"), url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf); }

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf), url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf), url(../../asset/fonts/nunito/Nunito-Bold.ttf), url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Italic.ttf), url(../../asset/fonts/nunito/Nunito-Light.ttf), url(../../asset/fonts/nunito/Nunito-LightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Regular.ttf), url(../../asset/fonts/nunito/Nunito-SemiBold.ttf), url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf); }

.launch {
  background: url("../asset/images/shape/oval-home.svg") 50% 45% no-repeat, #ECECEC;
  padding: 7.3em 0;
  position: relative;
  height: 100%; }
  .launch__image {
    height: 100%;
    object-fit: cover; }
  .launch__title {
    position: absolute;
    left: 53%;
    top: 45%;
    letter-spacing: 2px;
    transform: translate(-53%, -45%);
    font-family: "SFPro", sans-serif;
    font-size: 7.47448rem;
    color: #FFFFFF; }

@font-face {
  font-family: "SFPro";
  src: url(../../asset/fonts/sfpro/SF-Pro-Text-Bold.otf) format("test"), url(../../asset/fonts/sfpro/SF-Pro-Text-BoldItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Heavy.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-HeavyItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Light.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-LightItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Medium.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-MediumItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Regular.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-RegularItalic.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-Semibold.otf), url(../../asset/fonts/sfpro/SF-Pro-Text-SemiboldItalic.otf); }

@font-face {
  font-family: "Nunito";
  src: url(../../asset/fonts/nunito/Nunito-Black.ttf), url(../../asset/fonts/nunito/Nunito-BlackItalic.ttf), url(../../asset/fonts/nunito/Nunito-Bold.ttf), url(../../asset/fonts/nunito/Nunito-BoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBold.ttf), url(../../asset/fonts/nunito/Nunito-ExtraBoldItalic.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLight.ttf), url(../../asset/fonts/nunito/Nunito-ExtraLightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Italic.ttf), url(../../asset/fonts/nunito/Nunito-Light.ttf), url(../../asset/fonts/nunito/Nunito-LightItalic.ttf), url(../../asset/fonts/nunito/Nunito-Regular.ttf), url(../../asset/fonts/nunito/Nunito-SemiBold.ttf), url(../../asset/fonts/nunito/Nunito-SemiBoldItalic.ttf); }
